<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>net.joshuakennedy.darkhavoc</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.arcade-games</string>
	<key>CFBundleDisplayName</key>
	<string>Dark Havoc</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleIconFile</key>
	<string>DarkHavocIcons</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2011-2013 Joshua Kennedy</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
